{% extends 'base/layout.html' %}

  {% block main%}

  <div id="page-banner-area" class="page-banner-area" style="background-image:url(static/images/banner/banner002.jpg)">
    <!-- Subpage title start -->
    <div class="page-banner-title">
          <div class="text-center">
            <h2>Speaker Login</h2>
         </div>
      </div><!-- Subpage title end -->
  </div><!-- Banner end -->


    <div class="gap-30"></div>


  <div class="col-md-4">
    <div >
      <center>
      <p class="venu-info-text">login via <a href="{%url 'spassword'%}"><strong>password </strong></a> <br>login via otp on registered <a href="{%url 'sgenmotp'%}"><strong>mobile no</strong></a> <br> login via otp on registered <a href="{%url 'sgeneotp'%}"><strong>email-id</strong></a></p>
      </center>
    </div><!-- Venu content end -->
  </div><!-- Col 2 end -->
       <br>
       <br>
       <br>





<p> </p>



  	{% endblock %}
