bcrypt
certifi
cffi
chardet
cycler
Django
django-ckeditor
django-crispy-forms
django-debug-toolbar
django-js-asset
django-widget-tweaks
idna
kiwisolver
lxml
matplotlib
numpy
pandas
pandas-datareader
Pillow
pycparser
pyparsing
python-dateutil
pytz
requests
six
sqlparse
urllib3
wrapt
