{% extends 'login/base/layout.html' %}

  {% block main%}
  <div id="page-banner-area" class="page-banner-area" style="background-image:url(static/images/banner/banner002.jpg)">
    <!-- Subpage title start -->
    <div class="page-banner-title">
          <div class="text-center">
            <h2>Registration sucessfull</h2>
         </div>
      </div><!-- Subpage title end -->
  </div><!-- Banner end -->

  <section id="ts-venue" class="ts-venue">
    <div class="container">
      <div class="row text-center">
        <h2 class="section-title">Where to find us</h2>
        <h3 class="section-sub-title">Venue and Info</h3>
      </div><!--/ Title row end -->

      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14018.115876943177!2d77.1236316!3d28.5538745!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4a9db17053b82780!2sPullman+New+Delhi+Aerocity!5e0!3m2!1sen!2sin!4v1564732896653!5m2!1sen!2sin" width="1100" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

          <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div class="sidebar sidebar-left">
                  <h3>Contact Us</h3>
                  <p>This year life events is happening at the brand Pullman New Delhi Aerocity Hotel, Aerocity, Delhi. One of the India's iconic and beautiful location. You will join over 1500 attendies in one of the best Conference Venue in Asia.</p>

                  <div class="contact-info">
                    <div class="contact-info-box">
                      <i class="fa fa-map-marker">&nbsp;</i>
                      <div class="contact-info-box-content">
                        <h4>Address: </h4>
                        <p>2 IGI Airport GMR Hospitality District Asset No 02, New Delhi, Delhi 110037</p>
                      </div>
                    </div>

                    <div class="contact-info-box">
                      <i class="fa fa-envelope-o">&nbsp;</i>
                      <div class="contact-info-box-content">
                        <h4>Email: </h4>
                        <p>contact@lifeevents.com</p>
                      </div>
                    </div>

                    <div class="contact-info-box">
                      <i class="fa fa-phone">&nbsp;</i>
                      <div class="contact-info-box-content">
                        <h4>Phone: </h4>
                        <p>011 4608 0808</p>
                      </div>
                    </div>

                  </div><!-- contact info end -->
                </div><!-- Sidebar left end -->
              </div><!-- Sidebar col end -->

        <div class="col-md-6">
          <img src="static/images/venue-img02.png" alt="">
        </div><!-- Col end -->

      </div><!-- Content row 1 end -->


    </div><!-- Container end -->
  </section><!-- Venue end -->
  	{% endblock %}
