{% extends 'login/base/layout.html' %}

  {% block main%}

  <div id="page-banner-area" class="page-banner-area" style="background-image:url(static/images/banner/banner002.jpg)">
    <!-- Subpage title start -->
    <div class="page-banner-title">
          <div class="text-center">
            <h2>Registration</h2>
         </div>
      </div><!-- Subpage title end -->
  </div><!-- Banner end -->
    <center>

    <div class="gap-30"></div>

      <form action="{%url 'mail'%}" method="post" class="contact-form-bottom">
        {% csrf_token %}
        <div class="error-container"></div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
            <input placeholder="Name" name="name" id="name" type="text" required>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <input placeholder="Email" name="email" id="email"
              type="email" required>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <input placeholder="Mobile No" name="mobileno" id="mobileno" required>

            </div>
          </div>

          <select name="gender" id="gender" class="input_home_select input_gender select">
             <option value="">Select Gender</option>
             <option value="Male">Male</option>
             <option value="Female">Female</option>
          </select>
           <div class="col-md-12">
            <div >
              <select placeholder="Age" name="age" id="age">
                 <option value="0">Select Age</option>
                 <option value="Less than 12 years">Less than 12 years</option>
                 <option value="12-14 years">12-14 years</option>
                 <option value="14-16 years">14-16 years</option>
                 <option value="16-18 years">16-18 years</option>
                 <option value="18-20 years">18-20 years</option>
                 <option value="20-22 years">20-22 years</option>
                 <option value="22-25 years">22-25 years</option>
                 <option value="25-30 years">25-30 years</option>
                 <option value="30-35 years">30-35 years</option>
                 <option value="35-40 years">35-40 years</option>
                 <option value="40-50 years">40-50 years</option>
                 <option value="More than 50 years">More than 50 years</option>

               </select>
             </div>
           </div>
           <div >
            <div >
              <select name="occupation" id="occupation">
                 <option value="Select">Select Occupation</option>
                 <option value="School Student">School Student</option>
                 <option value="Undergraduate Student">Undergraduate Student</option>
                 <option value="Postgraduate Student">Postgraduate Student</option>
                 <option value="Job">Job</option>
                 <option value="Entrepreneur">Entrepreneur</option>
                 <option value="Creative Professional">Creative Professional</option>
                 <option value="Self Employed/Freelancer">Self Employed/Freelancer</option>
                 <option value="Unemployed">Unemployed</option>
                 <option value="Engineer">Engineer</option>
                 <option value="Doctor">Doctor</option>
                 <option value="Lawyer">Lawyer</option>
                 <option value="Teacher">Teacher</option>
                 <option value="NGO/Social Worker">NGO/Social Worker</option>
                 <option value="CA/CS">CA/CS</option>
                 <option value="Housewife">Housewife</option>
                 <option value="Sales Professional">Sales Professional</option>
                 <option value="Other">Other</option>

              </select>
             </div>
           </div>
           <select name="state" id="state">
              <option value="0">Select State</option>
              <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
              <option value="Andhra Pradesh">Andhra Pradesh</option>
              <option value="Arunachal Pradesh">Arunachal Pradesh</option>
              <option value="Assam">Assam</option>
              <option value="Bihar">Bihar</option>
              <option value="Chandigarh">Chandigarh</option>
              <option value="Chhattisgarh">Chhattisgarh</option>
              <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
              <option value="Daman and Diu">Daman and Diu</option>
              <option value="Delhi NCR">Delhi NCR</option>
              <option value="Goa">Goa</option>
              <option value="Gujarat">Gujarat</option>
              <option value="Haryana">Haryana</option>
              <option value="Himachal Pradesh">Himachal Pradesh</option>
              <option value="Jammu and Kashmir">Jammu and Kashmir</option>
              <option value="Jharkhand">Jharkhand</option>
              <option value="Karnataka">Karnataka</option>
              <option value="Lakshadweep">Lakshadweep</option>
              <option value="Madhya Pradesh">Madhya Pradesh</option>
              <option value="Maharashtra">Maharashtra</option>
              <option value="Manipur">Manipur</option>
              <option value="Meghalaya">Meghalaya</option>
              <option value="Mizoram">Mizoram</option>
              <option value="Nagaland">Nagaland</option>
              <option value="Odisha">Odisha</option>
              <option value="Puducherry">Puducherry</option>
              <option value="Punjab">Punjab</option>
              <option value="Rajasthan">Rajasthan</option>
              <option value="Sikkim">Sikkim</option>
              <option value="Tamil Nadu">Tamil Nadu</option>
              <option value="Telengana">Telengana</option>
              <option value="Tripura">Tripura</option>
              <option value="Uttar Pradesh">Uttar Pradesh</option>
              <option value="Uttarakhand">Uttarakhand</option>
              <option value="West Bengal">West Bengal</option>
           </select>
        <div class="text-right"><br>
          <button class="btn btn-primary btn-full" type="submit"><i class="fa fa-paper-plane-o"></i> Send Message</button>
        </div>
      </form>



</center>

  	{% endblock %}
