{% extends 'login/base/layout.html' %}

  {% block main%}

	<div id="page-banner-area" class="page-banner-area" style="background-image:url(static/images/banner/banner4.jpg)">
		<!-- Subpage title start -->
		<div class="page-banner-title">
        	<div class="text-center">
	        	<h2>Speakers</h2>
         </div>
      </div><!-- Subpage title end -->
	</div><!-- Page Banner end -->

	<section id="main-container" class="main-container">
		<div class="container">

			<div class="row text-center">
				<h2 class="section-title">Revolutionizing the World</h2>
				<h3 class="section-sub-title">Visionary Speakers</h3>
			</div><!--/ Title row end -->

			<div class="row text-center">
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="ts-speaker">
						<div class="ts-speaker-image">
							<img class="img-responsive" src="static/images/speakers/1.png" alt="" />
							<ul class="social-links">
								<li><a href="https://www.youtube.com/watch?v=cdZZpaB2kDM" target="_blank"><i class="fa fa-youtube"></i></a></li>
							</ul>
						</div><!--Image end -->
						<div class="ts-speaker-info">
							<h3 class="ts-speaker-name">Elon musk</h3>
							<p class="ts-speaker-designation">CEO Tesla,Spacex,Twitter</p>
						</div><!-- Info end -->
					</div><!-- Speaker end -->
				</div><!-- Speaker Col 1 end -->

				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="ts-speaker">
						<div class="ts-speaker-image">
							<img class="img-responsive" src="static/images/speakers/2.png" alt="" />
							<ul class="social-links">
								<li><a href="https://www.youtube.com/watch?v=f3NBQcAqyu4" target="_blank"><i class="fa fa-youtube"></i></a></li>

							</ul>
						</div><!--Image end -->
						<div class="ts-speaker-info">
							<h3 class="ts-speaker-name">Jeff Bezos</h3>
							<p class="ts-speaker-designation">Founder of amazon</p>
						</div><!-- Info end -->
					</div><!-- Speaker end -->
				</div><!-- Speaker Col 2 end -->

				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="ts-speaker transparent">
						<div class="ts-speaker-image">
							<img class="img-responsive" src="static/images/speakers/3.png" alt="" />
							<ul class="social-links">
								<li><a href="https://www.youtube.com/watch?v=rjjFQ6onAJM" target="_blank"><i class="fa fa-youtube"></i></a></li>
							</ul>
						</div><!--Image end -->
						<div class="ts-speaker-info">
							<h3 class="ts-speaker-name">Sergey brin</h3>
							<p class="ts-speaker-designation">Founder of Google</p>
						</div><!-- Info end -->
					</div><!-- Speaker end -->
				</div><!-- Speaker Col 3 end -->

				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="ts-speaker transparent">
						<div class="ts-speaker-image">
							<img class="img-responsive" src="static/images/speakers/4.png" alt="" />
							<ul class="social-links">
								<li><a href="https://www.youtube.com/watch?v=Ymi0fq9LPVU" target="_blank"><i class="fa fa-youtube"></i></a></li>
							</ul>
						</div><!--Image end -->
						<div class="ts-speaker-info">
							<h3 class="ts-speaker-name">Dr. Vivek Bindra</h3>
							<p class="ts-speaker-designation">CEO Badabussiness</p>
						</div><!-- Info end -->
					</div><!-- Speaker end -->
				</div><!-- Speaker Col 4 end -->

			</div><!-- Content row 1 end -->

			<div class="gap-40"></div>

			<div class="row text-center">
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="ts-speaker transparent">
						<div class="ts-speaker-image">
							<img class="img-responsive" src="static/images/speakers/5.jpeg" alt="" />
							<ul class="social-links">
								<li><a href="https://youtu.be/shyFZC1cSD0" target="_blank"><i class="fa fa-youtube"></i></a></li>
							</ul>
						</div><!--Image end -->
						<div class="ts-speaker-info">
							<h3 class="ts-speaker-name">Ratan Tata</h3>
							<p class="ts-speaker-designation">Former head of TATA</p>
						</div><!-- Info end -->
					</div><!-- Speaker end -->
				</div><!-- Speaker Col 1 end -->

				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="ts-speaker transparent">
						<div class="ts-speaker-image">
							<img class="img-responsive" src="static/images/speakers/6.png" alt="" />
							<ul class="social-links">
							<li><a href="https://youtu.be/JaF-fq2Zn7I" target="_blank"><i class="fa fa-youtube"></i></a></li>
							</ul>
						</div><!--Image end -->
						<div class="ts-speaker-info">
							<h3 class="ts-speaker-name">Bill Gates</h3>
							<p class="ts-speaker-designation">Former head of MICROSOFT</p>
						</div><!-- Info end -->
					</div><!-- Speaker end -->
				</div><!-- Speaker Col 2 end -->

				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="ts-speaker transparent">
						<div class="ts-speaker-image">
							<img class="img-responsive" src="static/images/speakers/7.png" alt="" />
							<ul class="social-links">
								<li><a href="https://youtu.be/Umy7UpwcRpc" target="_blank"><i class="fa fa-youtube"></i></a></li>
							</ul>
						</div><!--Image end -->
						<div class="ts-speaker-info">
							<h3 class="ts-speaker-name">Melinda Gates</h3>
							<p class="ts-speaker-designation">Founder of GF</p>
						</div><!-- Info end -->
					</div><!-- Speaker end -->
				</div><!-- Speaker Col 3 end -->

				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="ts-speaker transparent">
						<div class="ts-speaker-image">
							<img class="img-responsive" src="static/images/speakers/8.jpg" alt="" />
							<ul class="social-links">
									<li><a href="https://youtu.be/lEuetm31944" target="_blank"><i class="fa fa-youtube"></i></a></li>
							</ul>
						</div><!--Image end -->
						<div class="ts-speaker-info">
							<h3 class="ts-speaker-name">Sandeep Maheshwari</h3>
							<p class="ts-speaker-designation">CEO of Imagesbazaar</p>
						</div><!-- Info end -->
					</div><!-- Speaker end -->
				</div><!-- Speaker Col 4 end -->

        <h1>more speakers</h1>
        {% for i in userr %}
        <div class="col-xs-12 col-sm-6 col-md-3">
					<div class="ts-speaker transparent">
						<div class="ts-speaker-image">
							<img class="img-responsive" src="{{ i.image.url }}" alt="" />
							<!--<ul class="social-links">
							<li><a href="https://youtu.be/JaF-fq2Zn7I" target="_blank"><i class="fa fa-youtube"></i></a></li>
							</ul> -->
						</div><!--Image end -->
						<div class="ts-speaker-info">
							<h3 class="ts-speaker-name">{{ i.name }}</h3>
							<p class="ts-speaker-designation">{{ i.name }}</p>
						</div><!-- Info end -->
					</div><!-- Speaker end -->
				</div><!-- Speaker Col 2 end -->
        {% endfor %}

			</div><!-- Content row 2 end -->

		</div><!-- Conatiner end -->
	</section><!-- Main container end -->
  {% endblock %}
