{% extends 'speakerlogin/base/layout.html' %}

  {% block main%}

	<div id="page-banner-area" class="page-banner-area" style="background-image:url(static/images/banner/banner3.jpg)">
		<!-- Subpage title start -->
		<div class="page-banner-title">
        	<div class="text-center">
	        	<h2>FAQ</h2>

         </div>
         <div class="text-center">
           <h2>(Frequently asked questions)</h2>
          </div>
      </div><!-- Subpage title end -->
	</div><!-- Page Banner end -->

	<section id="main-container" class="main-container">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h3 class="title-classic">General Questions</h3>
				</div><!-- Col end -->

				<div class="col-md-8">
					<div class="panel-group panel-classic" id="accordionA">
	              	<div class="panel panel-default">
		                <div class="panel-heading">
			                <h4 class="panel-title">
			                	<a data-toggle="collapse" data-parent="#accordionA, #accordionB" href="#collapseOne">
									When and where will the life events 2018 take place?</a>
			                </h4>
		                </div>
		                <div id="collapseOne" class="panel-collapse collapse in">
		                  	<div class="panel-body">
		                    	<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat  <u>Jurys Inn Brighton Waterfront Hotel, Brighton, London</u> some of Newyork aparthotels. different kinds that are out there time.</p>
		                 	</div>
		                </div>
	              	</div><!--/ Panel 1 end-->

	              	<div class="panel panel-default">
		                <div class="panel-heading">
			                <h4 class="panel-title">
			                	<a data-toggle="collapse" class="collapsed" data-parent="#accordionA, #accordionB" href="#collapseTwo">How can I get the latest news on life events 2018?</a>
			            	</h4>
		                </div>
		                <div id="collapseTwo" class="panel-collapse collapse">
		                  <div class="panel-body">
		                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. ou can either follow us on <u>Twitter</u> or subscribe to our <u>mailing list!</u></p>
		                  </div>
		                </div>
	              	</div><!--/ Panel 2 end-->

	              	<div class="panel panel-default">
		               <div class="panel-heading">
			                <h4 class="panel-title">
			                <a data-toggle="collapse" class="collapsed" data-parent="#accordionA, #accordionB" href="#collapseThree">How can my company sponsor this Event 2018?</a>
			            	</h4>
		               </div>
		               <div id="collapseThree" class="panel-collapse collapse">
		                  <div class="panel-body">
		                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		                  </div>
		               </div>
           			</div><!--/ Panel 3 end-->

        			</div><!-- Accordion end -->
				</div><!-- Col end -->

			</div><!-- Content row 1 end -->

			<div class="gap-60"></div>

			<div class="row">
				<div class="col-md-4">
					<h3 class="title-classic">Registration</h3>
				</div><!-- Col end -->

				<div class="col-md-8">
					<div class="panel-group panel-classic" id="accordionB">
	              	<div class="panel panel-default">
		                <div class="panel-heading">
			                <h4 class="panel-title">
			                	<a data-toggle="collapse" data-parent="#accordionA, #accordionB" href="#collapseA">
									When and where will the life events 2018 take place?</a>
			                </h4>
		                </div>
		                <div id="collapseA" class="panel-collapse collapse in">
		                  	<div class="panel-body">
		                    	<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat  <u>Jurys Inn Brighton Waterfront Hotel, Brighton, London</u> some of Newyork aparthotels. different kinds that are out there time.</p>
		                 	</div>
		                </div>
	              	</div><!--/ Panel 1 end-->

	              	<div class="panel panel-default">
		                <div class="panel-heading">
			                <h4 class="panel-title">
			                	<a data-toggle="collapse" class="collapsed" data-parent="#accordionA, #accordionB" href="#collapseB">How can I get the latest news on life events 2018?</a>
			            	</h4>
		                </div>
		                <div id="collapseB" class="panel-collapse collapse">
		                  <div class="panel-body">
		                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. ou can either follow us on <u>Twitter</u> or subscribe to our <u>mailing list!</u></p>
		                  </div>
		                </div>
	              	</div><!--/ Panel 2 end-->

	              	<div class="panel panel-default">
		               <div class="panel-heading">
			                <h4 class="panel-title">
			                <a data-toggle="collapse" class="collapsed" data-parent="#accordionA, #accordionB" href="#collapseC">How can my company sponsor this Event 2018?</a>
			            	</h4>
		               </div>
		               <div id="collapseC" class="panel-collapse collapse">
		                  <div class="panel-body">
		                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		                  </div>
		               </div>
           			</div><!--/ Panel 3 end-->

        			</div><!-- Accordion end -->
				</div><!-- Col end -->

			</div><!-- Content row 2 end -->

		</div><!-- Conatiner end -->
	</section><!-- Main container end -->


	<section class="venu-map no-padding">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<div class="bottom-contact">
						<h3>Can't Find Answer! Ask Us</h3>
						<form  class="contact-form-bottom" action="{%url 'Contactus'%}" method="post">

                <div class="error-container"></div>

							<div class="row">
                {%csrf_token%}
								<div class="col-md-12">
									<div class="form-group">
									<input class="form-control form-control-name" placeholder="Name" name="name" id="name" type="text" required>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input class="form-control form-control-email" placeholder="Email" name="email" id="email"
										type="email" required>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input class="form-control form-control-subject" placeholder="Subject" name="subject" id="subject" required>

									</div>
								</div>
							</div>
							<div class="form-group">
								<textarea class="form-control form-control-message" name="message" id="message" placeholder="Message" rows="8" required></textarea>
							</div>

							<div class="text-right"><br>
								<button class="btn btn-primary btn-full" type="submit"><i class="fa fa-paper-plane-o"></i> Send Message</button>
							</div>

						</form><!-- Contact form end -->
					</div><!-- Contact form div end -->
				</div><!-- Col end -->
				<div class="col-md-6">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14018.115876943177!2d77.1236316!3d28.5538745!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4a9db17053b82780!2sPullman+New+Delhi+Aerocity!5e0!3m2!1sen!2sin!4v1564732896653!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div><!-- Col end -->
			</div><!-- Content row end -->
		</div><!-- Container end -->
	</section><!-- Map end -->
  {% endblock %}
