{% extends 'base/layout.html' %}

  {% block main%}
  <div id="page-banner-area" class="page-banner-area" style="background-image:url(static/images/banner/banner3.jpg)">
		<!-- Subpage title start -->
		<div class="page-banner-title">
        	<div class="text-center">
	        	<h2>ABOUT</h2>

         </div>
    </div><!-- Subpage title end -->
	</div><!-- Page Banner end -->

	<section id="main-container" class="main-container">
		<div class="container">

			<div class="row text-center">
				<!-- <h2 class="section-title">Revolutionizing the World</h2> -->
				<h3 class="section-sub-title">Project made <i class="fa fa-heart" style="font-size:48px;color:rgb(233, 26, 174)"></i> by</h3>
			</div><!--/ Title row end -->

			<div class="row text-center">
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="ts-speaker">
						<div class="ts-speaker-image">
							<img class="img-responsive" src="static/images/about/tan.jpg" alt="" />
							<ul class="social-links">
								<li><a href="https://github.com/tanmodi/lifeevents" target="_blank"><i class="fa fa-github"></i></a></li>
							</ul>
						</div><!--Image end -->
						<div class="ts-speaker-info">
							<h3 class="ts-speaker-name">Tanmay modi</h3>
							<p class="ts-speaker-designation">2101940140033</p>
						</div><!-- Info end -->
					</div><!-- Speaker end -->
				</div><!-- Speaker Col 1 end -->
				

			


				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="ts-speaker transparent">
						<h2 class="section-title">MCA<br>HRIT, Ghazaiabad<br>AKTU <br><br> Worked on backend <br><br> 1. SQLite DB <br> 2. Python language <br> 3. Django Framwork<br> 4. Email integraation<br> 5. SMS API intergration <br> 6.Fedora(linux) OS<br></h2>
					</div><!-- Speaker end -->
				</div><!-- Speaker Col 3 end -->

				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="ts-speaker">
						<div class="ts-speaker-image">
							<img class="img-responsive" src="static/images/about/dhananjay.jpg" alt="" />
							<ul class="social-links">
								<li><a href="https://github.com/tanmodi/lifeevents" target="_blank"><i class="fa fa-github"></i></a></li>
							</ul>
						</div><!--Image end -->
						<div class="ts-speaker-info">
							<h3 class="ts-speaker-name">Dhananjay kumar jha</h3>
							<p class="ts-speaker-designation">2101940140013</p>
						</div><!-- Info end -->
					</div><!-- Speaker end -->
				</div><!-- Speaker Col 1 end -->

				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="ts-speaker transparent">
						<h3 class="section-title">MCA<br>HRIT, Ghazaiabad<br>AKTU <br><br>Worked on frontend <br><br> 1. HTML<br> 2. CSS<br> 3.Javascript<br> 4.Bootstrap</h3>
					</div><!-- Speaker end -->
				</div><!-- Speaker Col 3 end -->


			</div><!-- Content row 1 end -->

			<div class="gap-40"></div>

			

		</div><!-- Conatiner end -->
	</section><!-- Main container end -->
  <H2>life Events – The Company</H2>
life Events is an integrated event management and promotions company. We work with small, medium and large companies, social organisations, government departments, educational institutions, associations, trade bodies, individuals and celebrities to plan, manage and execute all their events.<p>

We offer event management, hospitality and travel related services to businesses, government departments, not for profits and individuals. We also offer local language interpretation and translation services to foreign dignitaries attending national and international events, meetings, conferences, seminars, trade fairs and exhibitions in India.<p>

In the last few years since our inception we have planned and executed corporate meetings, employee reward functions, dealer meets, product launches, music concerts, comedy shows, pub events, birthday parties, weddings, baby showers, anniversaries, theme parties for kids, outbound tours, seminars, annual functions, trade fairs, exhibitions, press conferences, movie premiers, music launches, movie promotions, music festivals, film festivals, art shows, fashion events, sports events and various other events.<p>



<h2>life Events – The Philosophy</h2>
At life Events, we are passionate about creating memorable experiences for everyone. We believe in delivering experiences that will be cherished forever. This is the guiding philosophy behind life Events and is the cornerstone of our organisation.<p>



<h2>life Events – The Team</h2>
life Events is a privately held company and the owners include seasoned professionals, first generation entrepreneurs and scions of established large business families.<p>

life Events is managed by an experienced, creative and enthusiastic team of individuals skilled in event management, project planning, advertising and production.<p>

The real strength of life Events is its people and we always want talented and passionate individuals to join us. If you wish to be a part of a team that thinks, eats and sleeps events join us now. Careers at life Events.<p>


  	{% endblock %}
